{%block content1%}

{%endblock%}
<div data-elementor-type="twbb_header" data-elementor-id="529515" class="elementor elementor-529515">
    <div class="elementor-element elementor-element-45b4f897 e-con-full elementor-hidden-mobile elementor-hidden-tablet e-flex elementor-invisible e-con e-parent" data-id="45b4f897" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
<div class="elementor-element elementor-element-4fd04514 e-con-full e-flex e-con e-child" data-id="4fd04514" data-element_type="container">
    <div class="elementor-element elementor-element-402f47f8 elementor-icon-list--layout-inline elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="402f47f8" data-element_type="widget" data-widget_type="icon-list.default">
    <div class="elementor-widget-container">
        <ul class="elementor-icon-list-items elementor-inline-items">
                <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-circle"></i>						</span>
                            <span class="elementor-icon-list-text">Call : +1 487 888 937</span>
                        </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-circle"></i>						</span>
                            <span class="elementor-icon-list-text">Quote : <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a0d0d2c9c3c5e0c4cfcdc1c9ce8ec3cfcd">[email&#160;protected]</a></span>
                        </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-circle"></i>						</span>
                            <span class="elementor-icon-list-text">Support :<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="75060005051a070135111a18141c1b5b161a18">[email&#160;protected]</a></span>
                        </li>
            </ul>
    </div>
    </div>
    </div>
<div class="elementor-element elementor-element-d02c18d e-con-full e-flex e-con e-child" data-id="d02c18d" data-element_type="container">
    <div class="elementor-element elementor-element-72888e7b elementor-icon-list--layout-inline elementor-align-right elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="72888e7b" data-element_type="widget" data-widget_type="icon-list.default">
    <div class="elementor-widget-container">
        <ul class="elementor-icon-list-items elementor-inline-items">
                <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fab fa-facebook"></i>						</span>
                            <span class="elementor-icon-list-text"></span>
                        </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fab fa-twitter"></i>						</span>
                            <span class="elementor-icon-list-text"></span>
                        </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fab fa-youtube"></i>						</span>
                            <span class="elementor-icon-list-text"></span>
                        </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fab fa-tiktok"></i>						</span>
                            <span class="elementor-icon-list-text"></span>
                        </li>
            </ul>
    </div>
    </div>
    </div>
    </div>
<div class="elementor-element elementor-element-41b4d885 e-con-full e-flex elementor-invisible e-con e-parent" data-id="41b4d885" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInDown&quot;,&quot;animation_delay&quot;:200}">
<div class="elementor-element elementor-element-d97f010 e-con-full e-flex e-con e-child" data-id="d97f010" data-element_type="container">
    <div class="elementor-element elementor-element-4e5fbf9d twbb-nav-menu__align-left twbb-nav-menu__text-align-left twbb-nav-menu--indicator-classic twbb-nav-menu--toggle twbb-nav-menu--burger twbb-nav-menu--stretch yes twbb-nav-menu--dropdown-tablet elementor-widget elementor-widget-twbb-nav-menu" data-id="4e5fbf9d" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;,&quot;full_width&quot;:&quot; yes&quot;}" data-widget_type="twbb-nav-menu.default">
    <div class="elementor-widget-container">
      <nav class="twbb-nav-menu--main twbb-nav-menu__container twbb-nav-menu--layout-horizontal e--pointer-none"><ul id="menu-1-4e5fbf9d" class="twbb-nav-menu twbb-menu_term_id-41056"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529509"><a href="{% url 'coleção' %}" class="twbb-item">Coleções</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529508"><a href="{% url 'contate-nos' %}" class="twbb-item">Contato</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529507"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
</ul></nav>
<div class="twbb-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
<i aria-hidden="true" role="presentation" class="twbb-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="twbb-menu-toggle__icon--close eicon-close"></i>            <span class="elementor-screen-only">Menu</span>
</div>
<nav class="twbb-nav-menu--dropdown twbb-nav-menu__container"><ul id="menu-2-4e5fbf9d" class="twbb-nav-menu twbb-menu_term_id-41056"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529509"><a href="{% url 'coleção' %}" class="twbb-item">Coleções</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529508"><a href="{% url 'contate-nos' %}" class="twbb-item">Contato</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529507"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
</ul></nav>
<style>
.twbb-nav-menu ul {display: none;}      </style>
</div>
    </div>
    </div>
<div class="elementor-element elementor-element-5bb49701 e-con-full e-flex e-con e-child" data-id="5bb49701" data-element_type="container">
    <div class="elementor-element elementor-element-99798fa elementor-widget elementor-widget-heading" data-id="99798fa" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
<h1 class="elementor-heading-title elementor-size-default"><a href="{% url 'index' %}">Sabores da Terra</a></h1>		</div>
    </div>
    </div>
<div class="elementor-element elementor-element-7540f9db e-con-full e-flex e-con e-child" data-id="7540f9db" data-element_type="container">
    <div class="elementor-element elementor-element-baf7a9b elementor-view-default elementor-widget elementor-widget-icon" data-id="baf7a9b" data-element_type="widget" data-widget_type="icon.default">
    <div class="elementor-widget-container">
        <div class="elementor-icon-wrapper">
<a class="elementor-icon" href="{% url 'Login' %}" method="POST">
<i aria-hidden="true" class="far fa-user"></i>			</a>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-b90fcd0 toggle-icon--bag-medium twbb_menu-cart--items-indicator-bubble twbb_menu-cart--cart-type-side-cart twbb_menu-cart--show-remove-button-yes elementor-widget elementor-widget-twbb_woocommerce-menu-cart" data-id="b90fcd0" data-element_type="widget" data-settings="{&quot;cart_type&quot;:&quot;side-cart&quot;,&quot;open_cart&quot;:&quot;click&quot;,&quot;automatically_open_cart&quot;:&quot;no&quot;}" data-widget_type="twbb_woocommerce-menu-cart.default">
    <div class="elementor-widget-container">
      <div class="twbb_menu-cart__wrapper">
            <div class="twbb_menu-cart__toggle_wrapper">
      <div class="twbb_menu-cart__container elementor-lightbox" aria-hidden="true">
          <div class="twbb_menu-cart__main" aria-hidden="true">
                      <div class="twbb_menu-cart__close-button">
        </div>
                      <div class="widget_shopping_cart_content">
                                            </div>
          </div>
      </div>
            <div class="twbb_menu-cart__toggle elementor-button-wrapper">
<a id="twbb_menu-cart__toggle_button" href="#" class="twbb_menu-cart__toggle_button elementor-button elementor-size-sm" aria-expanded="false">
  <span class="elementor-button-text"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>0.00</bdi></span></span>
  <span class="elementor-button-icon">
        <span class="elementor-button-icon-qty" data-counter="0">0</span>
        <i class="eicon-bag-medium"></i>					<span class="elementor-screen-only">Cart</span>
    </span>
</a>
</div>
        </div>
    </div> <!-- close twbb_menu-cart__wrapper -->
  </div>
    </div>
    <div class="elementor-element elementor-element-77b451d7 elementor-align-right elementor-hidden-mobile elementor-invisible elementor-widget elementor-widget-button" data-id="77b451d7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_delay&quot;:400}" data-widget_type="button.default">
    <div class="elementor-widget-container">
        <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="{% url 'coleção' %}">
            <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">NOSSA LOJA</span>
        </span>
        </a>
</div>
    </div>
    </div>
    </div>
    </div>
    </div>

    {%block content2%}

    {%endblock%}

    <div data-elementor-type="twbb_footer" data-elementor-id="529514" class="elementor elementor-529514">
        <div class="elementor-element elementor-element-61c72f54 e-con-full e-flex e-con e-parent" data-id="61c72f54" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-element elementor-element-57eed609 e-con-full e-flex e-con e-child" data-id="57eed609" data-element_type="container">
        <div class="elementor-element elementor-element-1eec136 elementor-widget elementor-widget-heading" data-id="1eec136" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h2 class="elementor-heading-title elementor-size-default"><a href="{% url 'index' %}">Sabores da Terra</a></h2>		</div>
        </div>
        <div class="elementor-element elementor-element-2142f07 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="2142f07" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            Na Sabores da Terra, estamos empenhados em promover uma alimentação saudável e uma vida sustentável, ao mesmo tempo que apoiamos os pequenos negócios na nossa comunidade. Navegue por nossa seleção de frutas, vegetais e temperos de origem local e experimente o sabor do frescor da fazenda à mesa.						</div>
        </div>
        <div class="elementor-element elementor-element-75a92e7c elementor-shape-square e-grid-align-left e-grid-align-tablet-center elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="75a92e7c" data-element_type="widget" data-widget_type="social-icons.default">
        <div class="elementor-widget-container">
            <div class="elementor-social-icons-wrapper elementor-grid">
                    <span class="elementor-grid-item">
            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-shrink elementor-repeater-item-ddffcc8" target="_blank">
                <span class="elementor-screen-only">Facebook</span>
                <i class="fab fa-facebook"></i>					</a>
        </span>
                    <span class="elementor-grid-item">
            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-acf3ce2" target="_blank">
                <span class="elementor-screen-only">Twitter</span>
                <i class="fab fa-twitter"></i>					</a>
        </span>
                    <span class="elementor-grid-item">
            <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-shrink elementor-repeater-item-157dd6c" target="_blank">
                <span class="elementor-screen-only">Youtube</span>
                <i class="fab fa-youtube"></i>					</a>
        </span>
            </div>
        </div>
        </div>
        </div>
<div class="elementor-element elementor-element-2d812d62 e-con-full e-flex e-con e-child" data-id="2d812d62" data-element_type="container">
<div class="elementor-element elementor-element-1ae510e4 e-con-full e-flex e-con e-child" data-id="1ae510e4" data-element_type="container">
        <div class="elementor-element elementor-element-5755c161 elementor-widget elementor-widget-heading" data-id="5755c161" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">Informações:</h4>		</div>
        </div>
        <div class="elementor-element elementor-element-12fc3eec elementor-widget__width-auto twbb-nav-menu__align-left twbb-nav-menu--indicator-classic elementor-widget elementor-widget-twbb-nav-menu" data-id="12fc3eec" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;menu-columns&quot;:&quot;1&quot;,&quot;menu-columns_tablet&quot;:&quot;1&quot;,&quot;menu-columns_mobile&quot;:&quot;1&quot;}" data-widget_type="twbb-nav-menu.default">
        <div class="elementor-widget-container">
          <nav class="twbb-nav-menu--main twbb-nav-menu__container twbb-nav-menu--layout-vertical e--pointer-text e--animation-float"><ul id="menu-1-12fc3eec" class="twbb-nav-menu twbb-menu_term_id-41056 sm-vertical twbb-menu-columns"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529509"><a href="{% url 'coleção' %}" class="twbb-item">Coleções</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529508"><a href="{% url 'contate-nos' %}" class="twbb-item">Contato</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529507"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
</ul></nav>
<nav class="twbb-nav-menu--dropdown twbb-nav-menu__container"><ul id="menu-2-12fc3eec" class="twbb-nav-menu twbb-menu_term_id-41056 sm-vertical twbb-menu-columns"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529509"><a href="{% url 'coleção' %}" class="twbb-item">Collections</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529508"><a href="{% url 'contate-nos' %}" class="twbb-item">Contato</a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529507"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
</ul></nav>
  <style>
        </style>
    </div>
        </div>
        </div>
<div class="elementor-element elementor-element-604f3296 e-con-full e-flex e-con e-child" data-id="604f3296" data-element_type="container">
        <div class="elementor-element elementor-element-17c122a3 elementor-widget elementor-widget-heading" data-id="17c122a3" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">Contatos:</h4>		</div>
        </div>
        <div class="elementor-element elementor-element-396f9d85 twbb-nav-menu__align-left twbb-nav-menu--indicator-classic elementor-widget elementor-widget-twbb-nav-menu" data-id="396f9d85" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;menu-columns&quot;:&quot;1&quot;,&quot;menu-columns_tablet&quot;:&quot;1&quot;,&quot;menu-columns_mobile&quot;:&quot;1&quot;}" data-widget_type="twbb-nav-menu.default">
        <div class="elementor-widget-container">
          <nav class="twbb-nav-menu--main twbb-nav-menu__container twbb-nav-menu--layout-vertical e--pointer-text e--animation-float"><ul id="menu-1-396f9d85" class="twbb-nav-menu twbb-menu_term_id-41054 sm-vertical twbb-menu-columns"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529505"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="057664696045616a68646c6b2b666a68">tecsolutions2024@gmail.com</span></a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529504"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="25565055554a575165414a48444c4b0b464a48">[email&#160;protected]</span></a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529506"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="31585f575e71555e5c50585f1f525e5c">[email&#160;protected]</span></a></li>
</ul></nav>
<nav class="twbb-nav-menu--dropdown twbb-nav-menu__container"><ul id="menu-2-396f9d85" class="twbb-nav-menu twbb-menu_term_id-41054 sm-vertical twbb-menu-columns"><li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529505"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="394a58555c795d5654585057175a5654">[email&#160;protected]</span></a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529504"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="2b585e5b5b44595f6b4f44464a424505484446">[email&#160;protected]</span></a></li>
<li class="a:1:{i:0;s:6:&quot;a1i0s0&quot;;} menu-item menu-item-type-custom menu-item-object-custom menu-item-529506"><a href="#" class="twbb-item"><span class="__cf_email__" data-cfemail="553c3b333a15313a38343c3b7b363a38">[email&#160;protected]</span></a></li>
</ul></nav>
  <style>
        </style>
    </div>
        </div>
        </div>
        </div>
<div class="elementor-element elementor-element-2dbe733 e-con-full e-flex e-con e-child" data-id="2dbe733" data-element_type="container">
        <div class="elementor-element elementor-element-7d9c2b05 elementor-widget elementor-widget-heading" data-id="7d9c2b05" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">Galeria:</h4>		</div>
        </div>
        <div class="elementor-element elementor-element-465ce205 elementor-grid-tablet-6 elementor-grid-mobile-3 elementor-grid-3 elementor-widget elementor-widget-twbb_portfolio" data-id="465ce205" data-element_type="widget" data-settings="{&quot;columns_tablet&quot;:&quot;6&quot;,&quot;columns_mobile&quot;:&quot;3&quot;,&quot;item_ratio&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;1&quot;,&quot;sizes&quot;:[]},&quot;row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;20&quot;,&quot;sizes&quot;:[]},&quot;columns&quot;:&quot;3&quot;,&quot;item_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="twbb_portfolio.default">
        <div class="elementor-widget-container">
            <div class="elementor-portfolio elementor-grid elementor-posts-container">
        <article class="elementor-portfolio-item elementor-post  post-529491 product type-product status-publish has-post-thumbnail product_cat-laranjas-valid-monitor instock sale shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-tomate' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
            {%load static%}
    <img loading="lazy" width="1000" height="1000" src="{%static 'imagens/tomate.jpg'%}" class="attachment-medium size-medium wp-image-529480" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        <article class="elementor-portfolio-item elementor-post  post-529492 product type-product status-publish has-post-thumbnail product_cat-pimentoes-valid-monitor last instock shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-cebola' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
    <img loading="lazy" width="1024" height="1024" src="{%static 'imagens/cebolas.jpg'%}" class="attachment-medium size-medium wp-image-529466" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        <article class="elementor-portfolio-item elementor-post  post-529489 product type-product status-publish has-post-thumbnail product_cat-cominho-valid-monitor first instock sale shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-cominho' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
    <img loading="lazy" width="1000" height="1000" src="https://10web-site.ai/38/wp-content/uploads/sites/41/2024/07/product04_x9c8v7Lh.webp" class="attachment-medium size-medium wp-image-529479" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        <article class="elementor-portfolio-item elementor-post  post-529490 product type-product status-publish has-post-thumbnail product_cat-couve-valid-monitor instock sale shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-banana' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
    <img loading="lazy" width="1024" height="1024" src="https://10web-site.ai/38/wp-content/uploads/sites/41/2024/07/vertical02_x9c8v7Lh.webp" class="attachment-medium size-medium wp-image-529468" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        <article class="elementor-portfolio-item elementor-post  post-529487 product type-product status-publish has-post-thumbnail product_cat-maca-valid-monitor instock sale shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-maça' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
    <img loading="lazy" width="1920" height="1280" src="{%static 'imagens/macas.jpg'%}" class="attachment-medium size-medium wp-image-529483" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        <article class="elementor-portfolio-item elementor-post  post-529488 product type-product status-publish has-post-thumbnail product_cat-alface-valid-monitor last instock shipping-taxable purchasable product-type-simple">
    <a class="elementor-post__thumbnail__link" href="{% url 'product-alface' %}">
        <div class="elementor-portfolio-item__img elementor-post__thumbnail">
    <img loading="lazy" width="1000" height="1000" src="{%static 'imagens/alfaces.jpg'%}" class="attachment-medium size-medium wp-image-529484" alt="" />		</div>
        <div class="elementor-portfolio-item__overlay">
        </div>
        </a>
</article>
        </div>
        </div>
        </div>
        </div>
        </div>
<div class="elementor-element elementor-element-2d79167e e-con-full e-flex e-con e-parent" data-id="2d79167e" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-element elementor-element-f6788ba e-con-full e-flex e-con e-child" data-id="f6788ba" data-element_type="container">
        <div class="elementor-element elementor-element-58769ad twbb-nav-menu--indicator-classic elementor-widget elementor-widget-twbb-nav-menu" data-id="58769ad" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;}" data-widget_type="twbb-nav-menu.default">
        <div class="elementor-widget-container">
          <nav class="twbb-nav-menu--main twbb-nav-menu__container twbb-nav-menu--layout-horizontal e--pointer-underline e--animation-fade"><ul id="menu-1-58769ad" class="twbb-nav-menu twbb-menu_term_id-41055"><li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529503"><a href="{% url 'monitorshop'%}" class="twbb-item">Shop</a></li>
<li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529502"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
<li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529501"><a href="{% url 'contate-nos'%}" class="twbb-item">Contato</a></li>
</ul></nav>
<nav class="twbb-nav-menu--dropdown twbb-nav-menu__container"><ul id="menu-2-58769ad" class="twbb-nav-menu twbb-menu_term_id-41055"><li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529503"><a href="{% url 'monitorshop'%}" class="twbb-item">Shop</a></li>
<li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529502"><a href="{% url 'sobre' %}" class="twbb-item">Sobre</a></li>
<li class="a:1:{i:0;s:0:&quot;&quot;;} menu-item menu-item-type-post_type menu-item-object-page menu-item-529501"><a href="{% url 'contate-nos'%}" class="twbb-item">Contato</a></li>
</ul></nav>
  <style>
        </style>
    </div>
        </div>
        </div>
<div class="elementor-element elementor-element-5f74f6dc e-con-full e-flex e-con e-child" data-id="5f74f6dc" data-element_type="container">
        <div class="elementor-element elementor-element-9604f45 elementor-icon-list--layout-inline elementor-align-right elementor-widget__width-inherit elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="9604f45" data-element_type="widget" data-widget_type="icon-list.default">
        <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items elementor-inline-items">
                    <li class="elementor-icon-list-item elementor-inline-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fab fa-cc-visa"></i>						</span>
                                <span class="elementor-icon-list-text"></span>
                            </li>
                        <li class="elementor-icon-list-item elementor-inline-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fab fa-cc-paypal"></i>						</span>
                                <span class="elementor-icon-list-text"></span>
                            </li>
                        <li class="elementor-icon-list-item elementor-inline-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fab fa-cc-mastercard"></i>						</span>
                                <span class="elementor-icon-list-text"></span>
                            </li>
                        <li class="elementor-icon-list-item elementor-inline-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fab fa-cc-stripe"></i>						</span>
                                <span class="elementor-icon-list-text"></span>
                            </li>
                </ul>
        </div>
        </div>
        </div>
        </div>
        </div>

        {%block content3%}
       
        {%endblock%}


    